In [3]:
#Pandas-Dataframe-Basics

import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [25]:
emp=pd.Series(["Targaryen","Baratheon","Lannister","Stark"])
id=pd.Series([104,106,78,115])
frame={"EMP":emp,'ID':id}
res=pd.DataFrame(frame)
print(res)

         EMP   ID
0  Targaryen  104
1  Baratheon  106
2  Lannister   78
3      Stark  115

In [26]:
data={
    "STUDENTS":["Nisha","Rah","Abbedo","Som","Maan","Vigi"],
    "ROLL":[65,78,98,104,106,115]
}
print(pd.DataFrame(data))

  STUDENTS  ROLL
0    Nisha    65
1      Rah    78
2   Abbedo    98
3      Som   104
4     Maan   106
5     Vigi   115

In [27]:
print(res['EMP'])

0    Targaryen
1    Baratheon
2    Lannister
3        Stark
Name: EMP, dtype: object

In [28]:
res['AGE']=pd.Series([76,53,45,99])
print(res)

         EMP   ID  AGE
0  Targaryen  104   76
1  Baratheon  106   53
2  Lannister   78   45
3      Stark  115   99

In [29]:
del res['AGE']
print(res)

         EMP   ID
0  Targaryen  104
1  Baratheon  106
2  Lannister   78
3      Stark  115

In [30]:
print(res.loc[0])

EMP    Targaryen
ID           104
Name: 0, dtype: object

In [31]:
print(res[1:3])

         EMP   ID
1  Baratheon  106
2  Lannister   78

In [12]:
import pandas as pd
data={
    "EMP":["Peter","Jack","Sohn"],
    "ID":[102,107,109]
}
res=pd.DataFrame(data)
print(res)

     EMP   ID
0  Peter  102
1   Jack  107
2   Sohn  109

In [14]:
d2=pd.DataFrame([['Jane',123],['Roxy',143]],columns=['EMP','ID'])
res1=pd.concat([res,d2])
print(res1)

     EMP   ID
0  Peter  102
1   Jack  107
2   Sohn  109
0   Jane  123
1   Roxy  143

In [15]:
print(res1.drop(1))

     EMP   ID
0  Peter  102
2   Sohn  109
0   Jane  123

In [24]:
#Pandas-DataFrame-Function

import pandas as pd
import numpy as np
info=pd.DataFrame([[4,16]]*3,columns=['P','Q'])
print(info)

   P   Q
0  4  16
1  4  16
2  4  16

In [25]:
print(info.apply(np.sqrt)) #square root

     P    Q
0  2.0  4.0
1  2.0  4.0
2  2.0  4.0

In [31]:
print(info.apply(np.sum,axis=0))

P    12
Q    48
dtype: int64

In [32]:
print(info.apply(np.sum,axis=1))

0    20
1    20
2    20
dtype: int64

In [37]:
info1=pd.DataFrame([[1,5,3],[6,4,2],[7,9,11]],columns=['A',"B",'C'])
print(info1)

   A  B   C
0  1  5   3
1  6  4   2
2  7  9  11

In [45]:
print(info1.agg(['min','max']))

     A  B   C
min  1  4   2
max  7  9  11

In [49]:
d2=pd.DataFrame([['Rick',100],['Stark',102]],columns=['EMP','ID'])
d2['Age']=[50,45]
print(d2)

     EMP   ID  Age
0   Rick  100   50
1  Stark  102   45

In [52]:
d=d2.assign(Sex=['Male','Male'])
print(d)

     EMP   ID  Age   Sex
0   Rick  100   50  Male
1  Stark  102   45  Male

In [65]:
info3=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info3)

       col3      col4
3 -0.359906 -0.074773
2 -1.161874  0.968492
0 -0.607921 -0.391132
4  1.107168 -0.714364
1 -1.086113  0.232607

In [66]:
print(info3.sort_index())

       col3      col4
0 -0.607921 -0.391132
1 -1.086113  0.232607
2 -1.161874  0.968492
3 -0.359906 -0.074773
4  1.107168 -0.714364

In [68]:
print(info3.sort_values(by='col4'))

       col3      col4
4  1.107168 -0.714364
0 -0.607921 -0.391132
3 -0.359906 -0.074773
1 -1.086113  0.232607
2 -1.161874  0.968492

In [70]:
left=pd.DataFrame({
    'ID':[1,2,3,4],
    'NAME':['Arya','Amy','Alan','Asta'],
    'SUB':['sub1','sub3','sub4','sub6']
})
print(left)

   ID  NAME   SUB
0   1  Arya  sub1
1   2   Amy  sub3
2   3  Alan  sub4
3   4  Asta  sub6

In [71]:
right=pd.DataFrame({
    'ID':[1,2,3,4],
    'NAME':['Baron','Bakugan','Bara','Baka'],
    'SUB':['sub2','sub3','sub5','sub6']
})
print(right)

   ID     NAME   SUB
0   1    Baron  sub2
1   2  Bakugan  sub3
2   3     Bara  sub5
3   4     Baka  sub6

In [76]:
print(pd.merge(left,right,on='ID'))

   ID NAME_x SUB_x   NAME_y SUB_y
0   1   Arya  sub1    Baron  sub2
1   2    Amy  sub3  Bakugan  sub3
2   3   Alan  sub4     Bara  sub5
3   4   Asta  sub6     Baka  sub6

In [78]:
#Pandas Series
import numpy as np
import pandas as pd
arr=np.array(['P','a','n','d','a','s'])
a=pd.Series(arr)
print(a)

0    P
1    a
2    n
3    d
4    a
5    s
dtype: object

In [82]:
arr={'x':0.,'y':1.,'z':2.}
b=pd.Series(arr)
print(b)

x    0.0
y    1.0
z    2.0
dtype: float64

In [83]:
x=pd.Series(4,index=[0,1,2,3])
print(x)

0    4
1    4
2    4
3    4
dtype: int64

In [84]:
x=pd.Series([1,2,3],index=['a','b','c'])
print(x)

a    1
b    2
c    3
dtype: int64

In [85]:
a=pd.Series(data=[1,2,3,4])
print(a)

0    1
1    2
2    3
3    4
dtype: int64

In [86]:
print(a.index)

RangeIndex(start=0, stop=4, step=1)

In [87]:
print(a.values)

[1 2 3 4]

In [88]:
print(a.shape)

(4,)

In [89]:
print(a.ndim)

1

In [90]:
print(a.size)

4